<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/it.unibo.bls2016.qa/src-gen/it/unibo/ctxBlsOOp/MainCtxBlsOOp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.unibo.ctxBlsOOp.MainCtxBlsOOp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="it.unibo.bls2016.qa"/>
</launchConfiguration>
